/* decending order of media query with width */

/* this size for the smaller laptop or tablet */
@media only screen and (max-width:1200px){
    html,body{
        font-size: 14px;
    }
    .about-para{
        color: rgb(100, 99, 99);
        margin-bottom: 20px;
    }
    .section-head,
    .heading-test,
    .contact-heading,
    .package-heading{
        margin-top: 90px;
    }
    .service-para{
        margin-bottom: 15px;
    }
    header{
        height: 50vh;
    }
    .meta{
        height: 40px;
        width: auto;
    }

}
/* this size for the smaller tablet to larger tablet */
@media only screen and (max-width:1023px){
    html,body{
        font-size: 12px;
    }

    .row{
        padding: 0 2%;
    }
    .about-box{
        margin-top: 60px;
    }

    header{
        height: 40vh;
    }
    .about-box:first-child{
        padding: 0;
        padding-left: 5%;
    }
    .gun{
        padding-right: 2%;
        
    }
    .contact-section{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .package-box{
        width: 100%;
    }
    /* /* .package-heading-h{
        margin-bottom: 25px; 
    } */

    footer{
        padding: 30px;
    }
    footer p{
        
        margin-top: 20px;
        line-height: 1.3;
    }
    .meta{
        height: 40px;
        width: auto;
    }
    .logo{
        height: 60px;
        width: auto;
     }

} 

/* this size for the larger phone to smaller tablet */
@media only screen and (max-width:767px){
    html,body{
        font-size: 10px;
    }
    .about-head{
     margin-bottom: 20px;
    
    }
    .section-head,
    .heading-test,
    .contact-heading,
    .package-heading{
        margin-top: 60px;
    }
    /* ///// */
    .partener-section{
        
        margin-top: 100px;
        
    }
    .one-down{
        margin-top: 30px;
    }
    /* 111 */

    .section-head{
        margin-bottom: 10px;
    }
    .section-head-sub::after{
        margin: 15px auto 0 auto;
    }
    .heading-test{
        margin-bottom: 10px;
    }
    .row-test{
        padding-left: 2%;
        padding-right:3% ;
    }
    .one-top{
        margin-bottom: 64px;
        margin-top: -34px;
    }
    .contact-form{
        width: 80%;
        
    }
    .meta{
        height: 35px;
        width: auto;
    }
    .logo{
        height: 50px;
        width: auto;
     }
}
/* smaller to larger smartphone */
@media only screen and (max-width:479px){
    .gun{
        padding: 0;
        margin: 0 auto;

    }
    .about-box:last-child{
        text-align: center;
    }
    .about-box:first-child{
        text-align: center;
       
    }
    .span_1_of_4 {
        width: 45%; 
        /* margin-bottom: 20px; */
        margin-top: 20px;
    }

    .span_1_of_3 {
        /* width: 32.26%;  */
        padding: 0 10%;
        margin-bottom:5px ;
    }
    
    .package-box div:last-child,
    .package-box{
        border-radius: 0;
    }

    .contact-form{
        width: 100%;
    }

    .contact-label{
        padding-left: 0;
    }
    .footer-nav,
    .socila-links{
       float: none;
       text-align: center;
    }
    .portfolio li{
      
        width: 50%;
       
        
    }
    .meta{
        height: 35px;
        width: auto;
    }
    .main-nav li{
        
        margin: 5px 15px 5px 15px;  
    }
    .logo{
        height: 40px;
        width: auto;
     }

     .footer-nav li{
        float: center;
        margin: 5px;
    }
}
